# Visual Studio
.vs/
bin/
obj/

# Node
node_modules/
**/node_modules/

# Logs
*.log

# User files
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# Ignore all Node dependencies
**/node_modules/

# Ignore package locks outside projects
**/package-lock.jsonWalkingPatterns.Api/appsettings.Production.json
WalkingPatterns.Api/.publish/
WalkingPatterns.Api/.publish.rar
WalkingPatterns.Api/appsettings.Production.json
